<div class="resource-header">Title : {{webpage.title}}</div>
<div class="resource-body">Body : {{webpage.body}}</div>
<button class="webpage-update btn btn-sm btn-info" data-id={{webpage.id}}>Update</button>
<button class="webpage-delete btn btn-sm btn-danger" data-id={{webpage.id}}>Delete</button>
<span class="page-links" id="back-link">Return to Main</span>
