
<div class="resource-header">Title : {{webpage.title}}</div>
<div class="resource-body">Body : {{webpage.body}}</div>
<button>Edit</button>
<button>Delete</button>
<span class="resource-body" class="page-links" id="back-link">Return to Main</span>
