$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.container-fluid {
  background-color: #EEEEEE;
  font-family: Georgia;
}

.jump-ahead-slogan {
  margin: 5% 10% 2%;
}

#header-h1 {
  font-weight: bold;
}

.signed-out-buttons {
  margin: 2% 10%;
}

.btn {
  display: block;
}

.dropdown,
.drop-down-title {
  margin: 1% 10%;
}

.user-dropdown {
  margin: 1% 10%;
}

.otherforms,
.signed-in-buttons {
  display: none;
  margin: 2% 10%;
}

.signed-in-buttons .btn,
.signed-in-buttons form {
  display: inline;
}

#message {
  display: none;
  margin: 1% 10%;
}

.showblogbutton {
  margin: 1% 10%;
}

.page-links {
  color: blue;
  font-size: 18px;
  line-height: 1.6;
  margin: 40px auto;
  padding: 0 10px;
  text-decoration: underline;
  width: 50%;
}

.resource-header {
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin: 40px auto;
  width: 50%;
  // -webkit-margin-before: 1em;
  // -webkit-margin-after: 1em;
  // -webkit-margin-start: 0px;
  // -webkit-margin-end: 0px;
}

.resource-body {
  color: #444;
  font-size: 18px;
  line-height: 1.6;
  list-style: none;
  margin: 40px auto;
  padding: 0 10px;
  width: 50%;
}

.blogborder {
  border: 10px solid black;
  border-radius: 15px;
  list-style: none;
  margin: 25px;
  padding: 25px;
  width: 60%;
}

.footer {
  background-color: #5bc0de;
  bottom: 0;
  clear: top;
  left: 0;
  opacity: .6;
  padding: 1rem;
  position: fixed;
  right: 0;
  text-align: center;
}

.blogpost-btn,
.webpage-btn {
  display: inline;
  margin: 5% 0% 2% 25%;
}

.footer-message {
  font-weight: bold;
  margin: 1% auto;
  text-align: center;
}

.bottom-clear {
  padding: 40px;
}
