$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.container-fluid {
  background-color: #EEEEEE;
  font-family: Georgia;
}

.jump-ahead-slogan {
  margin: 5% 10% 2% 10%;
}

.signed-out-buttons {
  margin: 2% 10%;
}

.btn {
  display: block;
}

.dropdown,
.drop-down-title {
  margin: 1% 10%;
}

.user-dropdown {
  margin: 1% 10%;
}

.otherforms,
.signed-in-buttons {
  display: none;
  margin: 2% 10%;
}

#message {
  margin: 1% 10%;
}

.showblogbutton {
  margin: 1% 10%;
}

.page-links {
  color: blue;
  text-decoration: underline;
  margin: 40px auto;
  width: 50%;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

.resource-header {
  display: block;
  font-weight: bold;
  margin: 40px auto;
  width: 50%;
  font-size: 32px;
  // -webkit-margin-before: 1em;
  // -webkit-margin-after: 1em;
  // -webkit-margin-start: 0px;
  // -webkit-margin-end: 0px;
}

.resource-body {
  margin: 40px auto;
  width: 50%;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}
